{% extends 'base.html.twig' %}

{% block title %}Modifier tache{% endblock %}

{% block body %}
    <h1>Modifier tache</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('task_index') }}">Revenir à la liste</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
