{% extends 'template.html.twig' %}

{% block title %}Nouvelle tache{% endblock %}

{% block main %}
    <h1>Creer une nouvelle tache</h1>

    {{ include('task/_form.html.twig') }}

    <a href="{{ path('task_index') }}">Revenir à la liste des taches</a>
{% endblock %}
