{% extends 'template.html.twig' %}

{% block title %}Modifier projet{% endblock %}

{% block main %}
    <h1>Modifier projet</h1>

    {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('project_index') }}">back to list</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
